@using Agility.Components.Blog.Extensions
@using Agility.Components.Blog.ViewModels
@model BlogLinkViewModel

@helper BuildCount(BlogLinkItem i) { 
    if (Model.ShowCount)
    {
        @:(@i.PostCount)
    }
}

@if (Model != null && Model.Items != null && Model.Items.Any())
{
    <ul class="agility-blg-link-list">
        @foreach (var i in Model.Items)
        {
            if (Model.ShowCount && Model.SkipZeroPosts && i.PostCount == 0)
            {
                continue; //skip listing items that have no posts
            }
            <li>
                <a href="@Html.ResolveUrl(i.Url)" title="@i.Title" target="_self">@i.Title @BuildCount(i)</a>
            </li>
        }
    </ul>
}