@using Agility.Web.Components
@using Agility.Components.Blog.Extensions
@using Agility.Components.Blog.ViewModels
@using Agility.Components.Blog.Classes
@model PostViewModel

<div class="agility-blg-listed-post-mini">
    <div class="agility-row">
        @if (BlogUtils.HasPostImage(Model.Configuration, Model.Post, PostImageType.Listing)) {
        <div class="agility-col-xs-4">
            <a href="@Html.ResolveUrl(Model.Post.BlogDynamicUrl(Model.Configuration, Model.CurrentCategory))" target="_self" title="@Model.Post["Title"]">
                @Html.Partial(AgilityComponents.TemplatePath("Blog-PostImage"), new PostImageViewModel()
                {
                    Post = Model.Post,
                    Type = PostImageType.Listing,
                    Configuration = Model.Configuration,
                    Width = 140,
                    Height = 140
                })
            </a>
        </div>
        }
        <div class="agility-blg-post-details @(BlogUtils.HasPostImage(Model.Configuration, Model.Post, PostImageType.Listing) ? "agility-col-xs-8": "agility-col-xs-12")">
            <a href="@Html.ResolveUrl(Model.Post.BlogDynamicUrl(Model.Configuration, Model.CurrentCategory))" target="_self" title="@Model.Post["Title"]">
                <h4 class="post-title">@Model.Post["Title"]</h4>
            </a>
            @{ Model.OverrideExcerptLength = 100; }
            @Html.Partial(AgilityComponents.TemplatePath("Blog-PostExcerpt"), Model)
        </div>
    </div>
    
    
    

</div>
